<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Recherche de données</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>

<body>

  <h1 class="text-center">Recherche de données</h1>

<!-- 
<div class="container">

  <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
    <div id="searchForm" (ngSubmit)="onSearch()">
        <div class="input-group">
          <select [(ngModel)]="selectedOptions" name="selectedOptions" multiple class="custom-select" id="inputGroupSelect01">
            <option value="nom_departement">Nom du département</option>
            <option value="annee_publication">Année de publication</option>
            <option value="nom_region">Nom de la région</option>
            <option value="nombre_de_logements">Nombre de logements</option>
          </select>
  
          <input [(ngModel)]="query_string" name="query_string" type="text" class="form-control form-control-lg" id="searchInput" placeholder="Rechercher" required>
            
          <div class="input-group-append">
            <button type="submit" class="btn text-white">
              Rechercher
            </button>
          </div>

        </div>

        <table class="table table-striped table-hover mt-5">
          <thead>
            <tr>
              <th>Nom du département</th>
              <th>Code de la région</th>
              <th>Nom de la région</th>
              <th>Nombre de logements</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let result of results">
              <td>{{ result.nom_departement }}</td>
              <td>{{ result.code_region }}</td>
              <td>{{ result.nom_region }}</td>
              <td>{{ result.nombre_de_logements }}</td>
            </tr>
          </tbody>
        </table>    

    </div>
  </div>
</div> -->

<div class="container bg-light text-dark rounded text-center">
  <button class="btn btn-light font-weight-bold justify-content-center mt-3" (click)="showTable = !showTable">Afficher le tableau en entier</button>

  <div class="table-responsive mt-3" *ngIf="showTable">
    <table class="table table-striped">
      <thead class="thead-dark">
            <tr>
              <th>Année de publication</th>
              <th>Code département</th>
              <th>Nom département</th>
              <th>Code région</th>
              <th>Nom région</th>
              <th>Nombre d'habitants</th>
              <th>Densité de population au km²</th>
              <th>Variation de la population sur 10 ans (%)</th>
              <th>Contribution du solde naturel (%)</th>
              <th>Contribution du solde migratoire (%)</th>
              <th>Population de moins de 20 ans</th>
              <th>Population de 60 ans et plus</th>
              <th>Taux de chômage (T4)</th>
              <th>Taux de pauvreté</th>
              <th>Nombre de logements</th>
              <th>Nombre de résidences principales</th>
              <th>Taux de logements sociaux (%)</th>
              <th>Taux de logements vacants (%)</th>
              <th>Taux de logements individuels (%)</th>
              <th>Moyenne annuelle de la construction neuve sur 10 ans</th>
              <th>Construction</th>
              <th>Parc social - Nombre de logements</th>
              <th>Parc social - Logements mis en location</th>
              <th>Parc social - Logements démolis</th>
              <th>Parc social - Ventes à des personnes physiques</th>
              <th>Parc social - Taux de logements vacants (%)</th>
              <th>Parc social - Taux de logements individuels (%)</th>
              <th>Parc social - Loyer moyen (€/m²/mois)</th>
              <th>Parc social - Âge moyen du parc (années)</th>
              <th>Parc social - Taux de logements énergivores (E, F, G) (%)</th>
            </tr>
          </thead>
      <tbody>
        <tr *ngFor="let item of allData">
          <td>{{item.annee_publication}}</td>
          <td>{{item.code_departement}}</td>
          <td>{{item.nom_departement}}</td>
          <td>{{item.code_region}}</td>
          <td>{{item.nom_region}}</td>
          <td>{{item.nombre_d_habitants}}</td>
          <td>{{item.densite_de_population_au_kmdeux}}</td>
          <td>{{item.variation_de_la_population_sur_dix_ans_en}}</td>
          <td>{{item.dont_contribution_du_solde_naturel_en}}</td>
          <td>{{item.dont_contribution_du_solde_migratoire_en}}</td>
          <td>{{item.population_de_moins_de_vingt_ans}}</td>
          <td>{{item.population_de_soixante_ans_et_plus}}</td>
          <td>{{item.taux_de_chomage_au_tquatre_en}}</td>
          <td>{{item.taux_de_pauvrete_en}}</td>
          <td>{{item.nombre_de_logements}}</td>
          <td>{{item.nombre_de_residences_principales}}</td>
          <td>{{item.taux_de_logements_sociaux_en}}</td>
          <td>{{item.taux_de_logements_vacants_en}}</td>
          <td>{{item.taux_de_logements_individuels_en}}</td>
          <td>{{item.moyenne_annuelle_de_la_construction_neuve_sur_dix_ans}}</td>
          <td>{{item.construction}}</td>
          <td>{{item.parc_social_nombre_de_logements}}</td>
          <td>{{item.parc_social_logements_mis_en_location}}</td>
          <td>{{item.parc_social_logements_demolis}}</td>
          <td>{{item.parc_social_ventes_a_des_personnes_physiques}}</td>
          <td>{{item.parc_social_taux_de_logements_vacants_en}}</td>
          <td>{{item.parc_social_taux_de_logements_individuels_en}}</td>
          <td>{{item.parc_social_loyer_moyen_en_eur_mdeux_mois}}</td>
          <td>{{item.parc_social_age_moyen_du_parc_en_annees}}</td>
          <td>{{item.parc_social_taux_de_logements_energivores_e_f_g_en}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  </div>

<div class="container rounded bg-light text-black">

  <div class="row">
    <div class="col-md-4">
      <label for="nomDepartement">Nom des départements</label>
      <select class="form-select" id="nomDepartement" [(ngModel)]="filters.nom_departement">
        <option *ngFor="let department of uniqueDepartments" [value]="department">{{ department }}</option>
      </select>
    </div>
    <div class="col-md-4">
      <label for="nomRegion">Nom des régions</label>
      <select class="form-select" id="nomRegion" [(ngModel)]="filters.nom_region">
        <option *ngFor="let region of uniqueRegions" [value]="region">{{ region }}</option>
      </select>
    </div>
    <div class="col-md-4">
      <label for="codeDepartement">Code département</label>
      <select class="form-select" id="codeDepartement" [(ngModel)]="filters.code_departement">
        <option *ngFor="let code of uniqueDepartmentCodes" [value]="code">{{ code }}</option>
      </select>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-4">
      <label for="nomDepartementInput">Nom du département</label>
      <input type="text" class="form-control" id="nomDepartementInput" [(ngModel)]="filters.nom_departement">
    </div>
    <div class="col-md-4">
      <label for="nomRegionInput">Nom de la région</label>
      <input type="text" class="form-control" id="nomRegionInput" [(ngModel)]="filters.nom_region">
    </div>

    <div class="col-md-4">
      <label for="nombreHabitants">Nombre d'habitants</label>
      <input type="text" class="form-control" id="nombreHabitants" [(ngModel)]="filters.nombre_d_habitants">
    </div>
  
    <div class="col-md-4">
      <label for="tauxChomage">Taux chômage</label>
      <input type="text" class="form-control" id="tauxChomage" [(ngModel)]="filters.taux_de_chomage_au_tquatre_en">
    </div>
    <div class="col-md-4">
      <label for="nbLogement">Nombre de logement</label>
      <input type="text" class="form-control" id="nbLogement" [(ngModel)]="filters.nombre_de_logements">
    </div>
  <button class="btn btn-primary mt-3" (click)="applyFilters()">Appliquer les filtres</button>

  </div>

  <table class="table table-responsive table-striped mt-4">
    <thead class="thead-dark">
      <tr>
        <th>Année de publication</th>
        <th>Code département</th>
        <th>Nom département</th>
        <th>Code région</th>
        <th>Nom région</th>
        <th>Nombre d'habitants</th>
        <th>Densité de population au km²</th>
        <th>Variation de la population sur 10 ans (%)</th>
        <th>Contribution du solde naturel (%)</th>
        <th>Contribution du solde migratoire (%)</th>
        <th>Population de moins de 20 ans</th>
        <th>Population de 60 ans et plus</th>
        <th>Taux de chômage (T4)</th>
        <th>Taux de pauvreté</th>
        <th>Nombre de logements</th>
        <th>Nombre de résidences principales</th>
        <th>Taux de logements sociaux (%)</th>
        <th>Taux de logements vacants (%)</th>
        <th>Taux de logements individuels (%)</th>
        <th>Moyenne annuelle de la construction neuve sur 10 ans</th>
        <th>Construction</th>
        <th>Parc social - Nombre de logements</th>
        <th>Parc social - Logements mis en location</th>
        <th>Parc social - Logements démolis</th>
        <th>Parc social - Ventes à des personnes physiques</th>
        <th>Parc social - Taux de logements vacants (%)</th>
        <th>Parc social - Taux de logements individuels (%)</th>
        <th>Parc social - Loyer moyen (€/m²/mois)</th>
        <th>Parc social - Âge moyen du parc (années)</th>
        <th>Parc social - Taux de logements énergivores (E, F, G) (%)</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of filteredData">
        <td>{{item.annee_publication}}</td>
        <td>{{item.code_departement}}</td>
        <td>{{item.nom_departement}}</td>
        <td>{{item.code_region}}</td>
        <td>{{item.nom_region}}</td>
        <td>{{item.nombre_d_habitants}}</td>
        <td>{{item.densite_de_population_au_kmdeux}}</td>
        <td>{{item.variation_de_la_population_sur_dix_ans_en}}</td>
        <td>{{item.dont_contribution_du_solde_naturel_en}}</td>
        <td>{{item.dont_contribution_du_solde_migratoire_en}}</td>
        <td>{{item.population_de_moins_de_vingt_ans}}</td>
        <td>{{item.population_de_soixante_ans_et_plus}}</td>
        <td>{{item.taux_de_chomage_au_tquatre_en}}</td>
        <td>{{item.taux_de_pauvrete_en}}</td>
        <td>{{item.nombre_de_logements}}</td>
        <td>{{item.nombre_de_residences_principales}}</td>
        <td>{{item.taux_de_logements_sociaux_en}}</td>
        <td>{{item.taux_de_logements_vacants_en}}</td>
        <td>{{item.taux_de_logements_individuels_en}}</td>
        <td>{{item.moyenne_annuelle_de_la_construction_neuve_sur_dix_ans}}</td>
        <td>{{item.construction}}</td>
        <td>{{item.parc_social_nombre_de_logements}}</td>
        <td>{{item.parc_social_logements_mis_en_location}}</td>
        <td>{{item.parc_social_logements_demolis}}</td>
        <td>{{item.parc_social_ventes_a_des_personnes_physiques}}</td>
        <td>{{item.parc_social_taux_de_logements_vacants_en}}</td>
        <td>{{item.parc_social_taux_de_logements_individuels_en}}</td>
        <td>{{item.parc_social_loyer_moyen_en_eur_mdeux_mois}}</td>
        <td>{{item.parc_social_age_moyen_du_parc_en_annees}}</td>
        <td>{{item.parc_social_taux_de_logements_energivores_e_f_g_en}}</td>
      </tr>
    </tbody>
  </table>
</div>


 <canvas id="myChart"></canvas>
 <canvas id="myChart2"></canvas>
  <canvas id="myChart3"></canvas>

</body>
</html>



<!-- 

  <div class="">
    <div class="container">
    <form id="searchForm" (ngSubmit)="onSearch()">
      <div class="input-group">
        <select [(ngModel)]="selectedOptions" name="selectedOptions" multiple class="custom-select" id="inputGroupSelect01">
          <option value="nom_departement">Nom du département</option>
          <option value="annee_publication">Année de publication</option>
          <option value="nom_region">Nom de la région</option>
          <option value="nombre_de_logements">Nombre de logements</option>
        </select>

        <input [(ngModel)]="query_string" name="query_string" type="text" class="form-control form-control-lg" id="searchInput" placeholder="Rechercher" required>
          
        <div class="input-group-append">
          <button type="submit" class="btn btn-lg btn-default">
            Rechercher
          </button>
        </div>
      </div>
      <table class="table table-striped table-hover mt-5">
        <thead>
          <tr>
            <th>Nom du département</th>
            <th>Code de la région</th>
            <th>Nom de la région</th>
            <th>Nombre de logements</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let result of results">
            <td>{{ result.nom_departement }}</td>
            <td>{{ result.code_region }}</td>
            <td>{{ result.nom_region }}</td>
            <td>{{ result.nombre_de_logements }}</td>
          </tr>
        </tbody>
      </table>
    </form> 

</div> -->

  <!--   <div class="container">
      <h1 class="text-center">Recherche de données</h1>
      <form id="searchForm" (ngSubmit)="onSearche()">
        <div class="form-group">
          <label for="nom_departement">Nom du département</label>
          <input [(ngModel)]="nomdepartement" name="nom_departement" type="text" class="form-control" id="nom_departement" placeholder="Nom du département">
        </div>
      
        <div class="form-group">
          <label for="annee_publication">Année de publication</label>
          <input [(ngModel)]="anneepublication" name="annee_publication" type="text" class="form-control" id="annee_publication" placeholder="Année de publication">
        </div>
      
        <div class="form-group">
          <label for="nom_region">Nom de la région</label>
          <input [(ngModel)]="nomregion" name="nom_region" type="text" class="form-control" id="nom_region" placeholder="Nom de la région">
        </div>
      
        <div class="form-group">
          <label for="nombre_de_logements">Nombre de logements</label>
          <input [(ngModel)]="nombredelogements" name="nombre_de_logements" type="text" class="form-control" id="nombre_de_logements" placeholder="Nombre de logements">
        </div>
      
       
        <button type="submit" class="btn btn-lg btn-default" (click)="onSearche()">Rechercher encore</button>

          <table *ngIf="resultsse && resultsse.length > 0" class="table">
            <thead>
              <tr>
                <th>Nom du département</th>
                <th>Code de la région</th>
                <th>Nom de la région</th>
                <th>Nombre de logements</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let result of resultsse">
                <td>{{ result.nom_departement }}</td>
                <td>{{ result.code_region }}</td>
                <td>{{ result.nom_region }}</td>
                <td>{{ result.nombre_de_logements }}</td>
              </tr>
            </tbody>
          </table>
      </form>
    </div> -->
 
